@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/

body{
background-image: url("../photos/background.jpg");
background-size:100%;
}

#main {
width:960px;
margin:50px auto;
font-family:raleway
}
span {
color:red
}
h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#login {
margin:250px 0 0 40px;
}

#yphr {
width:160px;
float:left;
/* border-radius:10px; */
font-family:raleway;
/* border:2px solid #ccc; */padding:10px 20px 25px;
margin:70px 0 0 20px ;
}


#sign_up {
width:160px;
}

input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
#but {
border:2px solid #ccc;
width:100%;
/* background-color:#FFBC00; */
background:#3db2e1;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin:10px 0 15px 0;
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:underline;

color:#6495ed
}
a:hover{
text-decoration:none;
}


i {
color:#6495ed
}